.header {
  position: sticky;
  top: 0;

  transition: box-shadow 150ms ease;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.scrolled {
  background-color: var(--mantine-color-body);
}
